div.jumbotron {
    background: rgb(0,255,255);
}
#h1 { 
    color: black;
    text-align: center;
    font-style:normal;
    font-size: 6rem;
    margin: 0 auto;
    font-stretch: expanded;
}
#SubTitle{
    color: black;
    border-bottom-style: double;
    border-bottom-color: white;
    text-align: center;
}