nav{
    background-color: white;
    color: black;
    }
#brand{
    position: relative;
    top: -5px;
    right: -125px;
    width: 40%;
}
.nav-item {
    padding-right: 130px;
    font-family: "Marker Felt", fantasy;
    font-size: 17px;
    font-weight: bold;
}
.card {
    width: 75%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 10px;
}
hr {
    border: 0;
    width: 50%;
    color: #000000;
}
#theEstablishment{
    background-color: black;
}
.img-container{
  position:relative;
  display:inline-block;
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity:1;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}
h1{
  padding-top: 20px;
}