
#SubTitle{
    color: white;
    border-bottom-style: double;
    border-bottom-color: white;
}
/*body{
    background: url("../images/background2.png");
    background-repeat: space;*/
}
nav{
    background-color: white;
    color: black;
    }
#brand{
    position: relative;
    top: -5px;
    right: -125px;
    width: 40%;
}
#selected{
    color: #32CD32;
}
.nav-item {
    padding-right: 130px;
    font-family: "Marker Felt", fantasy;
    font-size: 17px;
    font-weight: bold;
}
.card {
    width: 60%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 10px;
}
hr {
    border: 0;
    width: 50%;
    color: #000000;
    height: 1px;
    padding: inherit;
}
#theEstablishment{
    background-color: black;
}